:root {
  --main-color-2: white;

  --header-color-2: white;
  --filterbar-background-color: white;
  --filter-color: #875555;
  --filter-background-color: rgb(27, 25, 25);
  --cards-border: 1.4px;
  --banner-text: rgb(231, 236, 208);
  --banner-underline: rgb(243, 234, 234);
  --banner-para: #f1ecec;
  --filterbar-background: #f1ecec;

  --main-primary-0: #875555;
  --main-primary-1: #d6a9a9;
  --main-primary-2: #ac7878;
  --main-primary-3: #633232;
  --main-primary-4: #551c1c;

  --main-secondary-1-0: #876c55;
  --main-secondary-1-1: #623a19;
  --main-secondary-1-2: #734b2a;
  --main-secondary-1-3: #45392f;
  --main-secondary-1-4: #382c22;

  --main-secondary-2-0: #6c445b;
  --main-secondary-2-1: #4f1435;
  --main-secondary-2-2: #5c2243;
  --main-secondary-2-3: #37252f;
  --main-secondary-2-4: #2d1b25;

  --main-complement-0: #446c44;
  --main-complement-1: #144e14;
  --main-complement-2: #215c21;
  --main-complement-3: #253725;
  --main-complement-4: #1b2c1b;
}

body {
  margin: 0;
  background-color: var(--main-color-2);
}

@import url(https://fonts.googleapis.com/css?family=Oswald);

#navbarul {
  background-color: var(--header-color-2);
  border-bottom: solid var(--main-primary-0);
  border-top: solid var(--main-primary-0);
  border-width: 5px;
  height: 80px;
  word-spacing: 70px;
  text-align: center;
}

a {
  font-family: Oswald;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color: var(--main-primary-0);
  transition: ease-out 0.2s;
}

#navbarli {
  display: inline-block;
  margin: 3px;
  text-decoration: none;
  transition: ease-out 0.5s;
}

#navbarli a:hover {
  background-color: var(--main-primary-0);
  color: var(--header-color-2);
  padding-top: 0px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-top: solid var(--header-color-2);
  border-radius: 8px;
  transition: ease-out 0.7s;
}

/*  banner */

#banner {
  background-color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(banner.jpeg);
  background-size: cover;
  background-position: right;
  color: black !important;
  background-attachment: fixed;
  margin-left: 5vw;
  margin-right: 5vw;
  border-radius: 3vw;
  box-shadow: 0 0 5px;
  box-shadow: var(--main-primary-0);
}
.bannerOuter {
  background-color: var(--main-color-2);
  margin-top: 0px;
}

.brand-banner {
  padding: 100px 0px;
  position: top;
  align-items: top;
  border-bottom: black;
  text-align: center;
  margin-top: 0px;
}

.brand-banner__header {
  font-family: FaktCondensed, AvenirNextCondensed-Medium, Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 43px;
  text-transform: uppercase;
  color: var(--banner-text);
  display: inline-block;
  text-align: center;
  width: 100%;
}

.brand-banner__header div:last-child {
  border-bottom: 5px solid var(--banner-underline);
  display: inline-block;
  padding: 2px 0 2px;
}

.brand-banner__subheader {
  font-family: osWald;
  font-weight: 500;
  font-size: 30px;
  color: var(--banner-para);
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

html,
body {
  font-family: "Open Sans", sans-serif;
}

.trail-container {
  overflow: hidden;
  margin: 15px auto;
  min-width: 180px;
  max-width: 600px;
  max-height: 1000px;
  border-radius: 8px;
  background: var(--main-color-2);
  border: solid var(--main-primary-4);
  border-width: var(--cards-border) var(--cards-border);
}

/* PROFILE SECTION */
.trail-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2px 2px;
  border-bottom: solid var(--main-primary-4);
  border-bottom-width: var(--cards-border);
}

/* PROFILE INFO */
.trail-info {
  flex: 1 0 120px;
  margin-left: 8px;
  margin-top: 0px;
}

.trail-header .trail-info h3 {
  display: block;
  color: #5c5146;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin: 0;
  font-weight: 600;
  font-size: 28px;
}

.trail-header .trail-info p {
  margin: 4px;
  color: #908374;
  font-size: 17px;
}

.profile-picture {
  display: flex;
  flex: 0 0 100px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profile-picture img {
  padding: 8px;
  width: 64px;
  height: 64px;
  border: 1px solid var(--main-primary-4);
  border-radius: 60px;
  transition: all 0.3s ease-in-out;
  transform: scale(0.95);
}
.profile-picture img:hover {
  cursor: pointer;
  transform: scale(1);
}

/* TRAIL PIC MAIN */
.trail-pic-main {
  position: relative;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-height: 780px;
  height: 100vw;
  background: #eee;
}
.trail-pic-main img {
  position: absolute;
  width: 100%;
  opacity: 1;
  transition: all 0.5s;
}

/* TRAIL STATS */
.trail-stats {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  background: var(--main-color-2);
  border-top: solid var(--main-primary-4);
  border-top-width: var(--cards-border);
  font-size: 30px;
}

#trailPostSpan {
  flex: 1 1 100px;
  padding: 12px;
  height: 60px;
  color: var(--main-primary-4);
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
#trailPostSpan:hover {
  cursor: pointer;
}

.peaceContainer {
  border-right: solid var(--main-primary-4);
  border-right-width: var(--cards-border);
}

#bookmark {
  align-content: flex-end;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url(https://fonts.googleapis.com/css?family=Oswald);

.filterBar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 15px 0px;
  padding: 8px;
  background: var(--filterbar-background);
  /* border: solid 1.4px;
   border-radius: 8px;*/
}

.filter {
  color: var(--filter-color);
  margin-right: 10px;
  padding: 6px 12px;
  background: var(--main-color-2);
  font-size: 16px;
  font-weight: 100;
  border-radius: 4px;
  border: 1.4px solid var(--filter-color);
  font-family: Oswald;
  opacity: 0.7;
  word-spacing: 1.5px;
  letter-spacing: 1px;
}
.filter:hover {
  color: var(--filter-background-color);
  background: var(--filter-color);
  opacity: 1;
  cursor: pointer;
  transition: 0.5s;
}
.filter.isActive {
  color: var(--filter-background-color);
  background: var(--filter-color);
  opacity: 1;
}
.filter:active,
.filter:focus {
  color: var(--main-primary-4);
  background: var(--filter-color);
  opacity: 1;
  outline: none;
}

.filter-bookmark {
  color: var(--main-primary-4);
  background-color: var(--main-color-2);
  padding: 1px 3px -2px 3px;
  border-radius: 4px;
  border: 1.4px solid var(--main-primary-4);
  margin-right: 10px;
}

.filter-bookmark:focus {
  outline: none;
}
