:root {
  --banner-para: #b73427;
  --banner-text: #d58d48;
  --banner-underline: #924e0d;
  --banner-outer: #f1ead6;
  --pt-black: #2d2d2d;
  --pt-grey: #8faeb4;
  --pt-grey-2: #0a4d5a;
  --ac-green-1: #52c88c;
  --ac-green-2: #01b460;
  --es-red-1: #ff4c4c;
  --es-red-2: #d0021b;
  --ht-pink: #f64976;
  --ht-blue-1: #69a7ee;
  --ht-blue-2: #4990e2;
  --ht-gold-1: #e6da71;
  --ht-gold-2: #ab9355;
  --ht-orange: #d0021b;
  --bk-grey: #efefef;
  --sp-grey: #eaeaea;
  --white: white;
}

body {
  margin: 0;
  background-color: var(--bk-grey);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-style: normal;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  flex-shrink: 0;
  height: 100px;
  background-color: #d8dbdb;
}
.page-body {
  flex-grow: 1;
}

@import url("https://fonts.googleapis.com/css?family=Pacifico");

#navbar {
  display: flex;
  background-color: #2d2d2d;
  color: white;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}

#nav-trailo {
  height: 45px;
  word-spacing: 80px;
  text-align: left;
  margin-bottom: 0px;

  /* box-shadow: 0px 0px 2px;
  box-shadow: #2c2c2c; */
  /* border-bottom: solid 2px var(--pt-grey);*/
  /*border-top: solid var( --main-color-2);
  border-width: 3px;*/
}

#nav-trailo a {
  text-decoration: none;
  color: white;
  font-family: "Pacifico";
  letter-spacing: 10px;
  font-size: 27px;
}

#nav-user {
  display: flex;
  padding-left: 10px;
}

#nav-login a {
  text-decoration: none;
  color: white;
}

#nav-signup a {
  padding-left: 10px;
  text-decoration: none;
  color: white;
}

/*  banner */

#banner {
  /*background-color: #b2bbb2;*/
  /* background-image: url(blog-nature.png);*/
  /* background-size: cover;*/
  /* background-position: left;
  /*background-attachment: fixed;*/
  /* background-repeat: no-repeat;*/
  background-size: 100% 100%;
  object-fit: contain;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 1100px;
  /*border: solid 7px var(--banner-para);*/
  border-radius: 2vw;
  padding-bottom: 0px;
}
.bannerOuter {
  margin-top: 0px;
  background-color: var(--banner-outer);
  display: flex;
  /*  background-color: #f4f2e5;*/
}
.brand-banner {
  flex-grow: 3;
  padding: 100px 0px;
  position: top;
  align-items: top;
  text-align: center;
  margin-top: 0px;
}
.brand-png {
  background-image: url(blog-nature.png);
  background-size: 100% 100%;
  object-fit: contain;
  width: 900px;
  height: 280px;
  margin-right: 130px;
  margin-top: 20px;
  margin-bottom: 50px;
}

@import url("https://fonts.googleapis.com/css?family=Assistant");
.brand-banner__header {
  font-family: Assistant, sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 43px;
  color: var(--banner-text);
  display: inline-block;
  text-align: center;
  width: 100%;
}

.brand-banner__header div:last-child {
  border-bottom: 5px solid var(--banner-underline);
  display: inline-block;
  padding: 10px 0 5px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto");

.brand-banner__subheader {
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: var(--banner-para);
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url(https://fonts.googleapis.com/css?family=Oswald);

.filterBar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin: 0px 0px 0px 0px;
  padding: 15px 0px;
  background: var(--white);
  /* border-bottom: 2px solid #876c55;
  border-top: 2px solid #876c55;
  */
}

.filter-bookmark {
  color: var(--pt-grey-2);
  background-color: var(--white);
  border-radius: 4px;
  border: 1.4px solid var(--pt-grey-2);
  margin-right: 35px;
  box-shadow: 0px 0px 3px;
  box-shadow: var(--pt-grey-2);
  cursor: pointer;
  height: 25px;
  font-size: 14px;
  letter-spacing: 0.9px;
}

.filterbookMarkiconactive {
  opacity: 1;
}

.filterbookMarkiconinactive {
  opacity: 0.9;
}

.filter-bookmark:focus {
  outline: none;
}

/* TRAIL FEED */

#img-header {
  width: 100%;
  height: 70vw;
  display: block;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.trail-grid-item {
  width: 100%;
  height: auto;
  border: solid 10px var(--white);
  background-color: var(--white);
}
.trail-grid-item:last-child {
  margin-bottom: 1vw;
}

.trail-pic {
  cursor: pointer;
}
.trail-footer {
  display: flex;
  justify-content: space-between;
  height: 35px;
}

#trail-name {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-transform: none;
  color: var(--pt-black);
}
a:hover {
  cursor: pointer;
  text-decoration: none;
}

#trail-state {
  font-size: 15px;
  font-style: normal;
  letter-spacing: 0.5px;
  text-transform: none;
  font-weight: 550;
  color: var(--pt-black);
}
.trail-stats {
  margin-top: 10vw;
}

#trailPostSpan {
  font-size: 25px;
  margin-top: 0.5vw;
}
#trailPostSpan:hover {
  cursor: pointer;
}
#trailPostSpan:active {
  transform: scale(0.5, 0.5);
  transition-duration: 0.3s;
}

#trailPostSpan::after {
  transform: scale(1.4, 1.4);
  transition-duration: 0.3s;
}

/************* MEDIA **********/
@media (min-width: 600px) {
  .trail-grid-item {
    width: 100%;
  }
  #img-header {
    height: 40vw;
  }
}

@media (min-width: 900px) {
  .trail-grid-item {
    width: 30vw;
  }
  #img-header {
    height: 30vw;
  }
}
@supports (display: grid) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .trail-grid-item {
    margin: 4vw;
    width: auto;
  }
  @media (min-width: 600px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .trail-grid-item {
      margin: 2vw;
    }
  }
  @media (min-width: 900px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
      margin: 1vw;
    }
    .trail-grid-item {
      margin: 1vw;
    }
  }
}

ul {
  margin-block-start: 0px;
}

.btn-exp {
  background-size: 100%;
  background-color: var(--ht-pink);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  z-index: 100;
  color: white;
  position: relative;
  font-size: 16px;
  letter-spacing: 1px;
}
.explore-container {
  width: 90%;
  margin: 0 auto;
  max-width: 100px;
  padding-top: 25px;
}

.far-hand-peace {
}
